// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import "variables";
@import "welcome";

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

body {
  font-family: $font-stack;
  background-color: #ecf0f1;
  font-size: 1.75em;
}

.nav a {
  color: #34495e;
  font-size: 1.15em;
}

//END OWN STYLES

.voted {
  opacity: 0.5;
}

.favorite {
  margin-top: 20px;
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.nav-tabs {
  margin-bottom: 20px;
}

.post-title {
  margin-top: 0;
}
