// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Own Styles
$font-stack: 'Source Sans Pro', san-serif;
$headline-color: #1abc9c;

body {
  font-family: $font-stack;
  background-color: #ecf0f1;
  font-size: 1.75em;
}

.nav a {
  color: #34495e;
  font-size: 1.15em;
}

//END OWN STYLES

h1 {
  color: $headline-color;
  font-weight: 600;
  font-size:2em;
}

p#index-title {
  text-align: center;
  font-size: 15px;
  color: blue;
}

.posts {
  border: solid;
  margin: 5px;
  padding: 5px;
  height: 200px;
}

section {
  background: #5998ff;
  border-style: solid;
  border-width: 5px;
  margin: 5px;
  padding: 5px;
}